.faq_wrapper {
    display: flex;
    flex-direction: row;
    .faq_text {
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        align-items: flex-start;
        padding-left: 10% !important;
        h1 {
            font-style: normal;
            font-weight: 600;
            font-size: 54px;
            line-height: 62px;
            max-width: 427px;
        }
        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #596579;
            max-width: 359px;
            a {
                text-decoration: none;
            }
        }
    }
    .faq_question {
        flex-basis: 60%;
        .accordion {
            width: 80%;
            .accordion-item {
                border: none;
                border-bottom: 1px solid #e6eaf0;
                padding-top: 30px;
                padding-bottom: 30px;
                &:nth-last-child(1) {
                    border-bottom: none;
                }
                .accordion-button {
                    font-weight: 500;
                    font-size: 18px;
                    color: #374253;
                    line-height: 26px;
                }
                .accordion-button:not(.collapsed) {
                    background-color: #fff;
                    color: #ed1c24;
                    box-shadow: none;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 26px;
                }
                .accordion-button::after {
                    background-image: url(../../public/icons/expand.png);
                }
                .accordion-button:not(.collapsed)::after {
                    background-image: url(../../public/icons/collapse.png);
                }
            }
            .accordion-body {
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #374253;
            }
        }
    }
}
