.ForgotPassword_Wrapper {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    display: flex;
}

.ForgotPassword_Form {
    width: fit-content;
    .ForgotPassword_Header {
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 10px;
        color: #192638;
    }
    .ForgotPassword_Text {
        max-width: 400px;
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 24px;
        color: #192638;
        a {
            text-decoration: none;
            color: #f03e45;
        }
    }
}

.ForgotPassword_Container {
    display: flex;
    flex-direction: column;

    .ForgotPassword_Button {
        background: #f03e45;
        border-radius: 8px;
        border: none;
        height: 44px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        max-width: 400px;
        margin-bottom: 32px;
        &:hover {
            cursor: pointer;
        }
    }
}
