input {
    background: #f4f7fb;
    border: 1px solid #d0d7e2;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 32px;
    max-width: 400px;
    &:focus {
        outline: none;
        border: 1px solid #1a63f4;
    }
}
button {
    cursor: pointer;
}

label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 6px;
}
.Password_Container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.Pw_Icon {
    position: absolute;
    right: 15px;
    top: 28px;
    &:hover {
        cursor: pointer;
    }
    i {
        color: #192638;
    }
}
